.edit-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: #000000;
    font-size: x-large;
  }
  
  .edit-page-wrapper input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 80%; 
    border: 2px solid #1db954;
    background-color: #1c1c1c;
    color: white;
    border-radius: 25px;
    font-family: monospace;
    font-size: 16px;
  }
  
  
  .edit-page-wrapper input:focus {
    outline: none;
    border-color: #1db954;
    box-shadow: 0 0 5px #1db954;
  }
  
  .edit-page-wrapper .ddmenu {
    margin-bottom: 20px;
  }
  
  .edit-page-wrapper .styled-select {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    border: 2px solid #1db954;
    background-color: #1c1c1c;
    color: white;
    border-radius: 25px;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
  }
  
  .edit-page-wrapper .styled-select:focus {
    outline: none;
    border-color: #1db954;
    box-shadow: 0 0 5px #1db954;
  }
  
  .edit-page-wrapper .buttonbar {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .edit-page-wrapper .small-button {
    background-color: #1db954;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    margin: 30px;
  }
  
  .edit-page-wrapper .small-button:hover {
    background-color: white;
    color: black;
  }
  
  .edit-page-wrapper .confirm-button {
    background-color: #1db954;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    margin: 10px;
  }
  
  .edit-page-wrapper .confirm-button:hover {
    background-color: white;
    color: black;
  }
  